.alert-danger{
    text-align:center;
    margin-bottom:0
}
.alert-danger p{
    font-size:16px;
    padding-bottom:10px
}
.btn-danger a{
    color:#fff;
    font-weight:700;
}
.alert h4{
    font-size:30px;
    padding:15px 0;
    text-transform:capitalize;
}