/* BODY */
body{
    background:#EEE;
    margin:0;
    color:#212121;
    font-family:Roboto,Arial,sans-serif;
    font-size:14px;
    overflow-x:hidden;
    line-height:1.8;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.fh{
    display:none;
    visibility:hidden;
}
.fj{
    padding:0 20px;
    position:absolute;
    width:80%;
    top:0;
    right:0;
    left:0;
    bottom:0;
    margin:auto;
    height:40px;
}
.fx:after,.sidebar .widget:after,.widget ul:after{
    content:"";
    display:block;
    clear:both;
}