/* CSS Bundle */
ul{
    list-style:none;
}
a:focus{
    color:#2288bb;
    outline:thin dotted;
}
a:link,a:visited{
    outline:none;
    color:#1155C5;
    text-decoration:none;
}
a:active,a:hover{
    color:#1978A8;
    text-decoration:none;
    outline:none;
}
::-webkit-scrollbar{
    width:10px;
    height:7px;
    background:#EEE;
}
::-webkit-scrollbar-thumb{
    background:#997;
}
.widget ul,.section,.widget{
    padding:0;
    margin:0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:400;
}
#clear,.clear{
    clear:both;
    display:block;
}
#navbar-iframe,.post-feeds,.feed-links,.quickedit,.status-msg-wrap{
    display:none;
}
#ContactForm1_contact-form-submit{
    color:#333;
    display:inline-block;
    padding:6px 12px;
    margin-bottom:0;
    font-size:14px;
    font-weight:400;
    line-height:1.8;
    text-align:center;
    white-space:nowrap;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    background: #fff none;
    border:1px solid #ccc;
    border-radius:4px;
    width:100%
}
#ContactForm1_contact-form-submit:hover{
    color:#fff;
}
form[name=contact-form] > div:last-child{
    color:#8a6d3b;
    background-color:#fcf8e3;
    padding:10px;
    border: 1px solid #faebcc;
    border-radius:4px;
    max-width:inherit!important;
    margin:15px 0;
    display:block
}
.ContactForm{
    display:none;
}