/*<![CDATA[*/
.post{
    position:relative;
    padding:15px 0;
    border-bottom:1px solid #E2E2E2;
}
.post:first-child{
    padding-top:25px;
}
.main_post{
    overflow:hidden;
}
.thumb_post{
    float:left;
    margin-right:25px;
}
.post h2.entry-title{
    color:#1155C5;
}
h2.entry-title{
    font-size:18px;
    overflow:hidden;
    margin:2px auto 0;
    font-weight:700;
}
.post-header{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    padding:6px 0 5px;
}
.post-body{
    display:block
}
.post-body p{
    margin:0;
}
.post-read{
    display:inline-block;
    background:#222;
    color:#fff;
    font-family:Roboto Condensed,sans-serif;
    font-weight:700;
    text-transform:uppercase;
    padding:5px 15px 3px;
    etter-spacing:.3px;
    text-align:center;
    font-size:12px;
    margin-top:-2px;
}
.post-read a{
    color:#fff;
}
.post-read i{
    font-size:10px;
    padding-right:0;
}
.carousel-control{
    color:#fff!important;
}
.wfeet-posts{
    margin:0 -10px!important;
}
.wfeet-posts>.post{
    padding:0 10px 10px;
    overflow:hidden;
    border:0;
    min-height:185px;
}
.wfeet_thumbs:hover img{
    opacity:.8;
}
.wfeet_thumbs img{
    width:100%;
}
.wfeet_thumbs{
    overflow:hidden;
    position:relative;
}
.wfeet_thumbs>.ftime{
    position:absolute;
    bottom:0;
    left:0;
    background:rgba(0,0,0,0.6);
    color:#fff;
    font-size:12px;
    font-weight:700;
    padding:0 10px;
    line-height:30px;
}
.wfeet_title{
    font-weight:700;
    font-family:Roboto Condensed;
    letter-spacing:.1px;
    padding:5px 0 0;
    font-size:14px;
    display:block;
    color:#333!important;
    text-transform:uppercase;
}
@media screen and (min-width:480px) and (max-width:640px) {
    h2.entry-title{
        font-size:130%;
        font-weight:400;
        white-space:nowrap;
        text-overflow:ellipsis;
        overflow:hidden;
    }
}
@media screen and (min-width:480px) and (max-width:868px) {
    .post-read{
        position:absolute;
        left:0;bottom:5px;
    }
    .fcoment{
        display:none;
    }
    .post-body p{
        height:46px;
        -webkit-line-clamp:2;
        display:-webkit-box;
        overflow:hidden;
    }
}
@media screen and (max-width:480px) {
    .wfeet-posts>.post{
        width:100%;
    }
    .ticker-wrap{
        margin:0 0 20px;
    }
    #ticker ul li h3{
        white-space:pre-line;
        font-size:13px;
        display:block;
        padding-top:4px;
    }
    #ticker ul li h3 a{
        display:block;
        line-height:1.5!important;
    }
    #ticker ul li .tickermeta{
        display:none;
    }
    .carousel{
        display:none;
    }
    .thumb_post{
        float:none!important;
        margin:0 0 10px!important;
    }
    .thumb_post img{
        width:100%;
    }
    .wfeet_thumbs img{
        width:100%;
    }
}