/* CSS COLOR */
#head-wrapper, #footer-wrapper, #ContactForm1_contact-form-submit:hover,.sidebar .widget > h2,.sidebar .widget > h3,.main-title,#nav-wrapper,.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover,.main .widget>h2{
    background:#222
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{border-color:#222;}
#ticker ul li h3 a:hover, h2.entry-title a:hover,#footer-wrapper a:hover,.wfeet-posts>.post:hover .wfeet_title,.popular-posts .item-title a:hover{
    color:#DC7489!important;
}
h2.entry-title a{
    color:#428BCA;
}
#nav-wrapper, #footer-wrapper, h3.dl-title,.sidebar .widget > h2, .sidebar .widget > h3, .main-title,.main .widget>h2{
    border-color:#DC7489!important;
}
#nav-wrapper li a:hover,#nav-wrapper li a:focus,#nav-wrapper li .active,.post-read:hover,.search_submit{
    background:#DC7489;
}
.search_submit:hover {
    background: #C56075;
}