/* COMMENTS */
.comment-form{
    max-width:100%;
}
.comment-form iframe{
    width:100%;
}
iframe{
    border:none;
    overflow:hidden;
}
#comments{
    margin:20px 0;
}
#com-outer{
    padding:20px 0;
}
#com-outer > div{
    margin-bottom:20px;
}
.comment-form .glyphicon-remove{
    font-size:12px;
}
.com_form{
    background:#F7F7F7;
    padding:15px;
    border-top:1px solid #E6E6E6;
}
h4.com4{
    margin:-1px!important;
}
.com_ava{
    float:left;
    margin-right:15px;
    width:52px;
    height:52px;
    background:#EEE;
}
.com_time a{
    color:#665;
    font-size:12px;
}
.com_article{
    overflow:hidden;
    border-bottom:1px solid #ddd;
    padding-bottom:15px;
    margin-bottom:15px;
}
.comment_child{
    margin:20px 0 20px 67px;
}
#com-outer > div > .comment_child{
    background:#FBFBFB;
    padding:20px;
}
.com_user{
    line-height:1.3;
}
.com_user .label{
    padding:3px 6px 2px;
    margin-left:5px;
}
.com_body p{
    margin:10px 0;
}
.comment_reply{
    padding-right:15px;
}