/* CONTENT */
#head-wrapper{
    padding:10px 0;
    line-height:35px;
}
#outer-wrapper{
    background:#FFF;
    position:relative;
    margin:25px auto;
    border:1px solid #ddd;
}
#content-wrapper{
    margin:20px auto;
}