/* FOOTER */
#footer-wrapper a{
    color:#FFF;
}
#footer-wrapper{
    border-top:4px solid;
    color:#FFF;
}
#footer_widget{
    padding:30px 0;
}
#footer-wrapper .credit{
    background:#323232;
    padding:20px 0;
    line-height:2;
}
#footer-wrapper .credit>p{
    padding:0;
    margin:0 auto;
}