/* HEADER */
#header-wrapper{
    margin:0 auto;
    position:relative;
    overflow:hidden;
}
#header-inner{
    text-align:center;
    padding:0 0;
    line-height:2;
}
#header-inner img{
    margin:0 auto;
    width:100%;
    height:auto;
}
.header h1.title,.header h2.title{
    color:#333;
    text-transform:uppercase;
    font-size:25px;
    margin:0;
}
.header .description{
    margin:0;
}
.header h1.title a,.header h2.title a{
    color:#333;
}
.header h1.title a:hover,.header h2.title a:hover{
    color:#333;
}