/* CSS LAYOUT */
body#layout ul{
    display:none;
}
body#layout select{
    display:none;
}
body#layout #main-wrapper {
    overflow: hidden;
    float: left;
    width: 500px;
    margin-left: 10px;
}
body#layout #sidebar-wrapper{
    float:right;
    width:270px;
}
body#layout #search{
    display:none;
}
body#layout #carousel-generic{
    display:none;
}
body#layout .ticker-wrap{
    display:none;
}
body#layout .main-title{
    display:none;
}
body#layout .footer_widget{
    width:32.5%;
    float:left;
}
