/* NAV_WRAPPER */
#nav-wrapper{
    margin:0 auto;
    position:relative;
    font-family:'Roboto Condensed',sans-serif;
    border-bottom:4px solid;
}
#nav-wrapper ul{
    margin:0 30px;
    padding:0;
    float:none;
    position:relative;
}
#nav-wrapper li a{
    color:#FFF;
    font-weight:700;
    line-height:2;
    letter-spacing:.3px;
    padding:10px 20px;
    text-transform:uppercase;
    border-right:1px solid #111;
    border-left:1px solid #333;
}
#nav-wrapper li i{
    padding-right:10px;
}
.navbar-nav>li:last-child{
    border-right:1px solid #333;
}
.navbar-nav>li:first-child{
    border-left:1px solid #111;
}