/* News Ticker */
.ticker-wrap{
    display:block;
    text-align:center;
    margin:0 15px 20px;
    padding:2px;
    background:#fefefe;
    border:1px solid rgba(0,0,0,0.1);
    border-left:4px solid #DC7489;
}
.ticker-wrap>span{
    display:inline-block;
    background:#fefefe;
    padding:0;
    font:700 13px roboto,sans-serif;
}
.ticker-wrap>span>a{
    color:#222;
    text-decoration:none;
}
#ticker{
    height:45px;
    overflow:hidden;
    background:#fefefe;
    text-align:left;
}
#ticker ul{
    padding:0;
    margin:0;
    list-style:none;
    width:100%;
}
#ticker ul li{
    height:45px;
    white-space:nowrap;
}
#ticker ul li img{
    float:left;
    width:35px;
    height:35px;
    margin:5px 12px 5px 5px;
}
#ticker ul li h3{
    margin:0;
    font:700 16px roboto,sans-serif;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
#ticker ul li h3 a{
    color:#333;
    text-decoration:none;
    line-height:25px!important;
}
#ticker ul li .tickermeta{
    font:400 13px 'Roboto',sans-serif;
    line-height:20px!important;
    color:#997;
}
