/*OTHER */
.progress{
    height:15px;
    display:block;
}
.progress:after{
    content:"";
    display:block;
    clear:both;
}
.rilisan li{
    margin-bottom:10px;
}
.rilisan li:after{
    content:"";
    clear:both;
    display:block;
}
.rilisan b{
    display:block;
    font-size:14px;
}
.rilisan .alert{
    margin-bottom:0;
    margin-top:15px;
}
h1.post-title.entry-title{
    font-size:27px;
    line-height:1.3;
    margin:0;
}
.breadcrumb{
    background:#F7F7F7;
}
.post-footer,.post-header{
    padding:10px 0;
    color:#665;
    font-size:13px;
}
.post-header>span{
    padding-right:10px;
}
.ftime abbr{
    border:0;
}
.post-footer{
    padding-bottom:0;
}
.post-footer i,.post-header i{
    font-size:12px;
    padding-right:5px;
}
.post-header a{
    color:#665;
}
.post-header i{
    color:#665;
}
.post-body img{
    max-width:100%;
    margin:10px auto;
    display:block;
}
.post-body blockquote{
    font-size:15px;
    line-height:1.8;
}
.staff_pos h4{
    display:block;
    margin:5px 0 15px;
}
.staff_item{
    margin-bottom:20px;
}
.staff_pos{
    padding:0 10px;
}
.staff_thmb img{
    width:100%;
    max-width:inherit!important;
    margin:inherit!important;
}
.dl-quality{
    font-weight:700;
    color:#665;
}
.dl-item{
    margin-bottom:15px;
}
h3.dl-title{
    font-size:16px;
    border-left:3px solid;
    padding-left:10px;
    line-height:1.4;
    margin-bottom:15px;
}
.dl-anime a:after{
    content:"-";
    padding:0 10px 0 12px;
    /*-webkit-user-select:none;*/
    /*-moz-user-select:none;*/
    /*-ms-user-select:none;*/
    user-select:none;
    color:#222;
    cursor:default;
}
.dl-anime a:hover{
    color:#111;
}
.dl-anime a:last-child:after{
    content:"";
    padding:0;
}
#related_posts{
    padding:15px 0 5px;
}
#related_img{
    margin:0 -8px;
}
.news-item{
    position:relative;
    overflow:hidden;
    padding:0 8px;
    margin-bottom:15px;
}
.news-item:hover img{
    opacity:.8;
}
.news-title{
    font-size:18px;
    position:absolute;
    bottom:10px;
    color:#fff!important;
    text-shadow:0 1px 2px rgba(0,0,0,.4);
    width:calc(100% - 16px);
    padding:0 10px;
    font-weight:400;
    line-height:1.4;
    font-family:'Roboto Condensed',sans-serif;
}
.news-item a:first-child{
    display:block;
    overflow:hidden;
}
