/* PAGER */
#blog-pager{
    display:block;
}
#pager-prev{
    float:left;
}
#pager-next{
    float:right;
}
.pagination .pages{
    float:right;
    color:#997;
}
.pagination>li{
    display:inline-block;
}