/* Post Share in post */
.post-share-buttons{
    display:inline-block;
    margin-top:.5em;
    vertical-align:middle;
}
.share-button{
    width:20px;
    height:20px;
    background:url(http://3.bp.blogspot.com/-derfRu8CYnw/UzKL_T532DI/AAAAAAAAbiQ/3Hs9hjRW_yQ/s1600/share_buttons_20_3.png) no-repeat left !important;
    overflow:hidden;
    margin-left:-1px;
    position:relative;
}
.dummy-container{
    vertical-align:top;
    padding-left:.3em;
}
a:hover.share-button{
    text-decoration:none;
    z-index:1;
}
.share-button-link-text{
    display:block;
    text-indent:-9998px;
}
.sb-email{
    background-position:0 0 !important;
}
a:hover.sb-email{
    background-position:0 -20px !important;
}
a:active.sb-email{
    background-position:0 -40px !important;
}
.sb-blog{
    background-position:-20px 0 !important;
}
a:hover.sb-blog{
    background-position:-20px -20px !important;
}
a:active.sb-blog{
    background-position:-20px -40px !important;
}
.sb-twitter{
    background-position:-40px 0 !important;
}
a:hover.sb-twitter{
    background-position:-40px -20px !important;
}
a:active.sb-twitter{
    background-position:-40px -40px !important;
}
.sb-facebook{
    background-position:-60px 0 !important;
}
a:hover.sb-facebook{
    background-position:-60px -20px !important;
}
a:active.sb-facebook{
    background-position:-60px -40px !important;
}
.sb-buzz{
    display:none !important;
}
.sb-orkut{
    background-position:-80px 0 !important;
    margin-left:-5px;
}
a:hover.sb-orkut{
    background-position:-80px -20px !important;
}
a:active.sb-orkut{
    background-position:-80px -40px !important;
}
.sb-pinterest{
    background-position:-100px 0 !important;
    margin-left:-5px;
}
a:hover.sb-pinterest{
    background-position:-100px -20px !important;
}
a:active.sb-pinterest{
    background-position:-100px -40px !important;
}
.goog-inline-block{
    position:relative;
    display:inline-block;
    left:1px;
}
