/* RESPONSIVE_ADD */
@media screen and (min-width: 1200px){
    .container{
        width:1110px!important;
    }
}
@media screen and (max-width:1200px){
    .container{
        width:95%!important;
    }
}
@media screen and (min-width:640px) and (max-width:868px){
    .popular-posts .item-thumbnail img{
        width:130%;
        margin-left:-15%;
    }
    .popular-posts .item-title{
        font-size:14px;
    }
    .news-item{
        width:50%;
    }
}
@media screen and (min-width:480px) and (max-width:768px){
    .searchy{
        float:none!important;
        position:relative!important;
    }
    .news-item{
        padding:8px!important;
        margin-bottom:10px;
    }
    .comment_child{
        margin:20px auto;
    }
    .news-item img{
        width:100%;
    }
    .news-title{
        text-shadow:0 1px 3px rgba(0,0,0,.3);
    }
}
@media screen and (max-width:767px){
    #nav-wrapper ul{margin:0 auto}
    .popular-posts ul{
        margin:0 -15px;
    }
    .popular-posts li{
        float:left;
        width:50%;
        padding:0 10px;
    }
    #mob-lab{
        display:block;
        visibility:visible;
        color:#fff;
        text-transform:uppercase;
        font-size:15px;
        padding:15px;
        letter-spacing:.3px;
        cursor:pointer;
        margin:0;
    }
    #mob-lab i{
        font-size:13px;
        padding-right:5px;
    }
    #mob-put{
        display:block;
        visibility:visible;
        -webkit-appearance:none;
        position:absolute;
        margin:0;
        width:100%;
        height:57px;
        z-index:100;
        cursor:pointer;
    }
    #mob-put:checked ~ ul{
        display:block;
        margin:0;
    }
    .navbar-nav{
        display:none;
    }
}
@media screen and (max-width:640px){
    .popular-posts .item-thumbnail img{
        width:100%!important;
        margin-left:0;
    }
    .pagination .pages{
        display:none;
    }
    .com_ava{
        display:none;
    }
    #footer-wrapper .credit>p{
        line-height:1.7;
        text-align:center;
    }
}
@media screen and (max-width:520px){
    .news-item{
        width:100%;
        margin-bottom:15px;
    }
    .news-item img{
        width:100%;
    }
}
@media screen and (max-width:480px){
    .fgenre{
        float:none!important;
        margin-top:10px;
    }
    .genrebox{
        width:100%;
    }
    #sidebar-wrapper{
        padding:0;
    }
    #main-wrapper{
        padding:0;
    }
    .post-header>span{
        display:block;
    }
    .popular-posts .item-thumbnail{
        width:100%;
        float:none!important;
        margin:0 0 10px;
    }
    .popular-posts .item-thumbnail img{
        margin:auto;
        display:block;
    }
    .popular-posts .item-title{
        margin-top:-45px;
    }
    .popular-posts li{
        width:100%!important;
        float:none;
        padding:0;
    }
    .popular-posts ul{
        margin:0!important;
    }
    .fcoment{
        display:none;
    }
    .post-header{
        text-align:center;
    }
    #comments{
        margin:20px 0;
    }
    #footer-wrapper .credit{
        padding:10px 15px;
    }
    #search{
        float:none;
        max-width:inherit;
    }
    .post-header>span{
        padding:0;
        display:block;
        border-bottom:1px solid #ddd;
        line-height:2.2;
    }
    .post-read,.post-share{
        display:block!important;
        float:none;
    }
    h2.entry-title{
        line-height:1.5;
        text-align:center;
    }
    .nav-tabs{
        background:#F3F3F3;
        padding:10px!important;
    }
    .nav-tabs>li{
        width:100%;
        text-align:center;
        margin-bottom:5px;
    }
    .nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.nav-tabs>li.active>a:hover{
        border:1px solid #215A8C;
        border-radius:3px;
        color:#fff;
        background:#337ab7;
    }
    .nav-tabs>li>a:hover{
        background:#fff;
        color:#1155C5;
        border-color:#1155C5;
    }
    .nav-tabs>li>a{
        background:#fff;
        border:1px solid #ddd;
        border-radius:3px;
        color:#333;
    }
}
@media screen and (max-width:425px){
    .news-item img{
        display:none;
    }
    .news-title:before{
        content:"\e258";
        padding-right:10px;
        font-family:'Glyphicons Halflings';
        font-size:10px;
    }
    .news-item{
        margin-bottom:0;
        padding:0;
    }
    .news-title{
        position:static;
        color:#333!important;
        display:block;
        padding:0 0 8px 10px;
        width:100%;
        font-size:14px;
        text-shadow:inherit;
        font-family:Roboto;
    }
    #related_img:before{
        content:"Related Posts :";
        font-weight:700;
        text-transform:uppercase;
        margin:0 10px 10px;
    }
    .comment_child{
        margin-left:10px;
    }
}
*