/* SEARCH */
.genrebox{
    -webkit-appearance:none;
    border-color:#151515;
    background:#1B1B1B;
    outline:0;
    color:#fff;
    padding:0 10px;
    text-transform:uppercase;
    font-weight:700;
}
.fgenre{
    position:relative;
}
.fgenre>i{
    position:absolute;
    top:13px;
    right:10px;
    color:#fff;
    font-size:12px;
}
#search{
    position:relative;
    width:100%;
    max-width:250px;
}
.searchy:hover,.searchy:focus{
    color:#fff;
}
.searchy{
    color:#154C7D;
    line-height:4;
    background:#2F72AD;
    float:right!important;
    padding:0 20px;
    font-size:14px;
    cursor:pointer;
    position:absolute!important;
    right:0;
}
.search_input{
    background:#1b1b1b;
    border:1px solid #151515;
    color:#fff;
    padding:0 12px;
    letter-spacing:.2px;
    border-radius:0;
    width:100%;
    outline:0;
    font-size:13px;
}
.search_submit{
    position:absolute;
    border:0;
    color:#fff;
    right:0;
    top:1px;
    padding:0 15px;
    outline:0;
}