/* Unslider */
.unslider{
    position:relative;
    overflow:hidden;
    background:#ECEAEA;
    margin-bottom:15px;
}
.unslider-wrap,.banner ul{
    margin:0;
    list-style:none;
    padding:0;
    overflow:hidden;
    position:relative;
}
.unslider-wrap>li>a,.banner>li>a{
    display:block;
}
.banner{
    overflow:hidden;
    max-height:420px;
}
.unslider-wrap li,.banner li{
    float:left;
    list-style:none;
    position:relative;
    max-height:420px;
}
.unslider-fade{
    position:relative;
}
.unslider-wrap img{
    width:100%;
    height:auto;
}
.unslider-caption{
    position:absolute;
    bottom:100px;
    left:80px;
    padding:0 10px;
    max-width:700px;
    color:#fff;
}
.unslider-title{
    color:#fff;
    margin:10px 0;
}
.unslider-tag{
    border:1px solid;
    padding:0 10px;
    line-height:2;
    display:inline-block;
    font-size:12px;
    border-radius:4px;
    color:#fff;
}
.unslider-tag i{
    padding-right:10px;
}
.unslider-snippet{
    margin:0;
}
.unslider-caption .button{
    margin-top:15px;
}
.load-overlay i{
    display:inline-block;
    font-size:35px;
}
.load-overlay{
    position:absolute;
    left:0;
    right:0;
    top:25%;
    text-align:center;
}
.unslider-nav{
    position:absolute;
    bottom:20px;
    left:0;
    right:0;
    top:auto;
    margin:0;
}
.unslider-nav ol{
    list-style:none;
    text-align:center;
}
.unslider-nav ol li{
    display:inline-block;
    float:none;
    width:6px;
    height:6px;
    margin:0 4px;
    padding:3px;
    background:transparent;
    border-radius:5px;
    overflow:hidden;
    text-indent:-998em;
    border:2px solid #fff;
    cursor:pointer;opacity:.4;
}
.unslider-nav ol li.unslider-active{
    background:#fff;
    cursor:default;
    opacity:1
}

