/* CSS Widget */
.popular-posts ul{
    list-style:none;
    padding:0;
}
.popular-posts .item-thumbnail img{
    height:inherit;
    width:inherit;
    /*-webkit-transition:all 1s ease-in-out;*/
    transition:all 1s ease-in-out;
}
.popular-posts .item-thumbnail img:hover{
    /*-webkit-transform:scale(1.10);*/
    /*-ms-transform:scale(1.10);*/
    transform:scale(1.10);
    /*-webkit-transition:all 1s ease-in-out;*/
    transition:all 1s ease-in-out;
    opacity:.9;
    filter:alpha(opacity=90);
}
.popular-posts .item-content{
    position:relative;
    overflow:hidden;
}
.popular-posts .item-thumbnail{
    overflow:hidden;
}
.popular-posts .item-title{
    font-size:15px;
    padding:0 10px;
    display:block;
    clear:both;
    position:absolute;
    margin-top:-35px;left:0;
    background:rgba(51,51,51,0.8);
    border-top:1px solid #222;
    width:100%;
    line-height:34px;
    font-weight:700;
    font-family:'Roboto Condensed',sans-serif;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    color:#fff;
}
.popular-posts .item-title a{
    color:#fff;
}
.popular-posts li .item-snippet{
    padding-top:10px;
    font-size:13px;
}
.popular-posts li{
    margin-bottom:20px;
    padding:0;
}
.Label .widget-content ul{
    padding:0;
}
.Label .widget-content a{
    color:#222;
}
.Label .list-label-widget-content a:before{
    content:"\e118";
    font-family:'Glyphicons Halflings';
    padding-right:15px;
    font-size:11px;
}
.hierarchy ul{
    list-style:none;
    padding:0;
    margin-left:15px;
}
.profile-name-link.g-profile{
    background:no-repeat;
    padding-left:20px;
}
.profile-img{
    margin:5px;
    float:left;
}
.main .widget>h2{
    margin:0 0 15px;
    color:#FFF;
    font-size:15px;
    padding:0 15px;
    line-height:3;
    border-bottom:4px solid;
    font-weight:700;
    text-transform:uppercase;
}
.sidebar .widget > h2,.sidebar .widget > h3,.main-title{
    margin:0;
    color:#FFF;
    font-size:15px;
    padding:0 15px;
    line-height:3;
    border-bottom:4px solid;
    font-weight:700;
    text-transform:uppercase;
}
.sidebar .widget > h2 i,.sidebar .widget > h3 i,.main-title i,.main .widget>h2 i{
    font-size:12px;
    margin-right:10px;
}
.sidebar .widget{
    margin-bottom:25px;
}
.sidebar .widget-content{
    padding:15px;
    background:#FDFDFD;
    border:1px solid #EAEAEA;
    border-top:0;
}
.footer .widget-content{
    background:transparent;
    border:0;
    padding:15px 0 0;
}
.footer .widget>h2{
    border:0;
    line-height:25px;
    padding:0 0 10px;
    border-bottom:3px solid;
}
.label-size{
    white-space:nowrap;
    background:#DC7489;
    display:inline-block;
    margin-bottom:5px;
    line-height:2;
    padding:0 10px;
}
.label-size:hover{
    background:#333;
}
.list-label-widget-content li{
    border-bottom:1px solid #ddd;
    padding:5px 0;
}
.footer .list-label-widget-content li{
    border-color:#2D2D2D;
}
.list-label-widget-content li>span{
    float:right;
}
.main-title{
    display:block;
    margin:15px 0 0!important;
    text-transform:uppercase;
}